body,
#app,
#initial_startup,
#startup,
._1qNwV,
._1c8mz._1YoG6 {
    background-color: #313131 !important;
}

._3Jvyf {
    background-color: #1f1f1f !important;
}

._3Jvyf svg path {
    fill: #fff !important;
}

._2vikl {
    background-color: #2c2c2c !important;
}

._1ccjW:after {
    background-color: #094f54 !important;
}
._1qNwV:after {
    border-color: #094f54 !important;
}
a {
    color: #094f54 !important;
}

._3fs0K {
    border-color: #1b1b1b !important;
    background-color: #2c2c2c !important;
}

._3fs0K span {
    color: #fff !important;
}

[data-icon="status-dblcheck"] svg path {
    fill: #fff !important;
}

.message-in .tail-container {
    background: none !important;
    width: 0 !important;
    height: 0 !important;
    border: 12px solid transparent !important;
    border-right-color: #424242 !important;
    border-left: 0 !important;
    border-top: 0 !important;
}

.message-out ._2Wx_5 {
    background-color: #094f54 !important;
    color: #fff !important;
}

.message-out .tail-container {
    background: none !important;
    width: 0 !important;
    height: 0 !important;
    border: 12px solid transparent !important;
    border-left-color: #094f54 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}

._3fnHB {
    color: #aaa !important;
}

.message-in .tail,
.message-in ._2Wx_5 {
    background-color: #424242 !important;
    color: #fff !important;
}
._2UaNq._3mMX1 ._2WP9Q,
._2UaNq._3mMX1:after,
._2WP9Q {
    border-top-color: #201f1f !important;
}

label,
input,
._13mgZ {
    background-color: #1b1b1b !important;
    color: #fcfcfc !important;
    border-color: #201f1f !important;
}

.ZP8RM._19OGD {
    background-color: #1b1b1b !important;
}

._2UaNq,
._2i7Ej._14Mgc.copyable-area {
    background-color: #2d2c2c !important;
}

._2UaNq._3mMX1 {
    background-color: #565656 !important;
}

._2UaNq div {
    color: #b3b0ad !important;
}

._3RWII {
    background-color: #010101 !important;
}

._3GHFH {
    background: #201f1f !important;
}

.HGVhc {
    border-radius: 100% !important;
}

.Qk8nZ {
    color: #fcfcfc !important;
}

.tzihe,
._2nIcO {
    color: #fff !important;
}

.message-out a,
.message-in a,
._2ZAIy._19RFN._F7Vk {
    color: #39ccd6 !important;
}
.P6z4j {
    background-color: #39ccd6 !important;
}

._15CAo._3EQsG {
    background: linear-gradient(
        90deg,
        hsla(94, 78%, 87%, 0) 0,
        #094f54 50%
    ) !important;
}

._2hHc6 {
    background: #2d2c2c !important;
}

._2hHc6 li div {
    color: #fff !important;
}

._1mJO- {
    background: #201f1f !important;
}

._2Qm0c,
._3VXiW {
    background: #565656 !important;
}

._2avTY,
._3HCkv,
.jkZx4,
._1ebw2,
.OWYLS {
    background: #2d2c2c !important;
}

._2Bfgm._2MyYN {
    color: rgba(255, 255, 255, 0.397) !important;
}

._2wn58,
._2wn58 svg path,
._2Bfgm._2MyYN._2wn58 {
    fill: #39ccd6 !important;
    color: #39ccd6 !important;
}

._30sf0 {
    border-left: 1px solid #201f1f !important;
}
